.about-heading {
    text-align: start;
    margin-bottom: 30px;
}

.about-text {
    font-size: 32px;
}

.about-right-column {
    margin: auto;
    padding: 50px 100px;
}

.about-left-column {
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media (max-width: 1950px) {
    .about-text {
        font-size: 25px;
    }
}

.about-img {
    max-width: 100%;
    justify-items: start;
    align-items: end;
    margin-right: auto;
    margin-top: auto;
}

@media (max-width: 1250px) {
    .about-right-column {
        padding: 40px 50px;
    }
}