@import url('https://use.fontawesome.com/releases/v6.2.0/css/all.css');

.carousel {
    max-width:550px;
    float:right;
    margin-left:30px;
}

.carousel-control-prev-icon {
    background-image: url(../../../public/images/icons/left-scroll.png);
}

.carousel-control-next-icon {
    background-image: url(../../../public/images/icons/right-scroll.png);
}


.write-button {
    margin-left: 800px;
    background-color: var(--accent-color);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media screen and (max-width:1199px) {
    .write-button {
        margin-left: 180px;
    }
}
    
.back-button {
    margin-left: 180px;
    background-color: #3D5A99;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.side {
    float: left;
    width: 20%;
    margin-top:10px;
    font-size: 25px;
    padding-right:20px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 60%;
}

.right {
    text-align: right;
}

.category-icon {
    width:60px;
}

.information-icon {
    width: 20px;
}

.profile-details-left {
    display: inline-block;
}

.bar-container {
    width: 80%;
    height: 30px;
    background-color: #D9D9D9;
    color: white;
    margin-left:60px;
    margin-bottom:50px;
}

.profile-text {
    margin-right:100px;
}

.bar-score {
    height: 30px; 
    background-color: #3D7CAE;
}

/* Individual bars */
.bar-5 {width: 80%; height: 30px; background-color: #3D7CAE;}
.bar-4 {width: 90%; height: 30px; background-color: #3D7CAE;}
.bar-3 {width: 60%; height: 30px; background-color: #3D7CAE;}
.bar-2 {width: 70%; height: 30px; background-color: #3D7CAE;}
.bar-1 {width: 15%; height: 30px; background-color: #3D7CAE;}

@media (max-width: 400px) {
    .side, .middle {
        width: 80%;
    }
    .right {
        display: none;
    }
}

.profile-body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-review-container {
    width: 75%;
    background: #F6F5F7;
    margin: 2rem;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, .2);
    padding: 2.5rem;
    border-radius: 22px;
}

.profile-h2 {
    margin-bottom: 1rem;
    color: #000000;
    font-family: 'Arial Rounded MT Bold', serif;
    font-size: 32px;
}

.profile-input-field {
    width: 100%;
    color: #FFFFFF;
    border: 1px solid #6F6C7C;
    padding: .85rem;
    border-radius: 5px;
}

.profile-input-field input {
    border: none;
    background: transparent;
    outline: none;
    color: #8C8C9F;
    width: calc(100% - 3.2rem);
}

.profile-input-field i,
.profile-input-field input::placeholder {
    color: #6F6C7C;
}

.profile-cards {
    margin-top: 2.5rem;
}

.profile-cards .profile-card {
    width: 100%;
    margin-bottom: .7rem;
    background: #FFFFFF;
    border-radius: 5px;
}

.profile-card>* {
    padding: 1rem 1.2rem;
}

.profile-card-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
    outline: none;
}

.profile-name .one {
    background: orange;
}

.profile-name,
.profile-name .profile-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-name .profile-img {
    justify-content: center;
}

.profile-rate i {
    color: #FFD700;
}

.profile-card-content {
    margin: 0;
    padding-top: 0;
}

.profile-card-content p {
    font-size: .8rem;
}

.profile-card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-card-action span {
    font-size: .8rem;
    color: RGB(101, 101, 114);
}

.profile-card-action .profile-btn {
    padding: .3rem .7rem;
    background: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    color: #8C8C9F;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.profile-btn:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width:750px) {
    body {
        padding: 0rem;
        margin: 0;
    }

    .profile-review-container {
        /*     padding:0; */
        margin: 1rem 0;
        width: 75%;
    }
}