.search-text {
    padding: 50px 30px 20px 0;
}

.search-bar {
    margin: 15px 0;
}


@media (max-width: 767px) {
    .search-text {
        padding: 15px 50px;
    }
}

@media (max-width: 767px) {
    .search-main {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .search-img {
        max-width: 40%;
    }
}

@media (max-width: 992px) {
    .search-right-column {
        order: 1;
    }
    .search-left-column {
        order: 2;
    }
}

.search-img {
    max-width:100%;
    height: auto;
}

.search-right-column {
    margin: auto;
}

.search-main {
    position: center;
    height: 59px;
    left: 42.24%;
    right: 26.3%;
    top: calc(50% - 59px/2 - 93.5px);
    margin-bottom: 30%;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 59px;
}

.search-secondary {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #3D5A99;
}

.search-box{
    width: 100%;
    position: relative;
    display: flex;

}

.autocomplete-input{
    margin-top:20px;
}
.search-input{
    margin-top:10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid;
    border-right: none;
    border-radius:10px 0 0 10px ;
    outline: none;
    font-size: 20px;
    background: none;
}
.form-submit-button {
    background-color: #3D5A99;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.form-submit-button:hover,
.button-1:focus {
    background-color: #7490cc;
}


.form-field {
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    border: 10px;
    border-bottom: 2px;
    outline: 0;
    font-size: 1.3rem;
    padding: 19px 0;
    background: transparent;
}

.search-left-column {
    display: flex;
    flex-direction: column;
}
