.elderlyImage2-img-SOR {
    max-width:100%;
    justify-items: start;
    align-items: end;
    margin-right: auto;
}

.logo-img-SOR {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%; */
}

.left-column-SOR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-column-SOR {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

#h1-SOR {
    text-align: center;
    color: #0d0d66;
}

#h3-SOR{
    text-align: left;
}

