@page
@model RegisterModel
@{
    ViewData["Title"] = "Create a new account";
    var request = HttpContext.Request;
    var host = request.Host.ToUriComponent();
    var pathBase = request.PathBase.ToUriComponent();
    var baseUrl =  $"{request.Scheme}://{host}{pathBase}";
}

<style>
    .register-column-right {
        padding: 0 50px;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .register-img {
        max-width: 100%
    }
    
    @@media (min-width: 1400px) {
        #registerForm {
            max-width: 620px;
        }
    }
</style>

<div class="row">
    <div class="col-lg-6 col-sm-12 order-lg-first">
        <img class="register-img" src="@(baseUrl)/images/elderlyImage4.png"/>
    </div>
    <div class="col-lg-6 col-sm-12 register-column-right order-first">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <h3>Please ensure all details are accurate.</h3>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true"/>
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true"/>
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.MedicareNumber" class="form-control" aria-required="true"/>
                <label asp-for="Input.MedicareNumber"></label>
                <span asp-validation-for="Input.MedicareNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">Register</button>
            <div>
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Sign in here</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
