:root {
  --primary-color: #3c5a9a;
  --primary-dark-color: #1d2538;
  --secondary-color: #78a6c8;
  --accent-color: #eba22c;
  --off-white-color: #e9eef4;
  --red-color: #eb4335;
  --white-color: #ffffff;
  --black-color: #000000;
  --card-color: #f6f5f7;
  --listin-count-color: #3d7cae;
}

html,
body,
#root,
.layout {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

/* Buttons */
.b {
  text-transform: uppercase;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  padding: 20px 40px;
  margin: 10px 10px;
  border-radius: 10px;
  border-width: 0;
}

.b:hover {
  filter: brightness(0.85);
}

.b-lg {
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 30px;
}

.b-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.b-accent {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.card-title {
  font-family: "Arial Rounded MT Bold";
  font-size: 32px;
  text-align: start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  padding-top: 50px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border-radius: 30px;
  color: #103791;
  background-color: #f6f5f7;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-width: 10px;
}

.facility-card-list {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.screen-description {
  text-align: center;
}

.facility-results {
  color: #3d7cae;
  text-align: start;
  justify-content: start;
}
